<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.primeedu.rat.primeedu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    "
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".Teacher.TeacherActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AuthorityHomeActivity.AddSection"
            android:screenOrientation="portrait"/>
        <activity android:name=".Teacher.ClassActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Teacher.TakeAttendenceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Teacher.GiveMarksToStudent"
            android:screenOrientation="portrait"
            android:theme="@style/MarksTheme" />
        <activity android:name=".Teacher.ViewStudentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Teacher.StudentProfileByTeacher"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Teacher.InsideSectionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login.SignupAuthority"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login.SignupStudent"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login.SignUpTeacher"
            android:screenOrientation="portrait"/>
        <activity android:name=".AuthorityHomeActivity.AuthorityMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AuthorityHomeActivity.AuthorityNotice"
            android:screenOrientation="portrait"/>
        <activity android:name=".AuthorityHomeActivity.AuthorityCreateClass"
            android:screenOrientation="portrait"/>
        <activity android:name=".Student.StudentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Student.AttendenceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Student.StudentMarkActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Student.StudentNotices"
            android:screenOrientation="portrait"/>
        <activity android:name=".AuthorityHomeActivity.TeachersInSchool"
            android:screenOrientation="portrait"/>
        <activity android:name=".AuthorityHomeActivity.CreatePost"
            android:screenOrientation="portrait"/>
        <activity android:name=".Class.ZoomAbleImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AuthorityHomeActivity.UpComingExamAuthority"
            android:screenOrientation="portrait"/>
        <activity android:name=".Teacher.TeacherClassActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Teacher.TeacherPost"
            android:screenOrientation="portrait"/>
        <activity android:name=".Teacher.TeacherProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".Student.AboutStudent"
            android:screenOrientation="portrait"/>
        <activity android:name=".AuthorityHomeActivity.AuthorityAbout"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login.ForgetPass"
            android:screenOrientation="portrait"/>
        <activity android:name=".Student.TeacherNotice"
            android:screenOrientation="portrait"/>
        <activity android:name=".Admin"
            android:screenOrientation="portrait"/>
        <activity android:name=".Teacher.TeacherAvailableSection"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>